﻿/*! J2Tabber Widget - v0.6.0 Beta - 14/02/2015 
* Widget for JQuery UI
* Includes: fxtrex.css
* Copyright 2015 tungsteno74@yahoo.it (alias Tungsteno); Licensed MIT */

/* no outline on focuses elements*/
*:focus {
    outline: 0;
}

/*edit the default navigation bar style in the results tab*/
.ui-tabs.ui-j2t .ui-widget-header  
{
    padding-left: 20px;
    padding-right: 20px;
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    background:#E2E9FF;
} 
.ui-tabs.ui-j2t .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
.ui-tabs.ui-j2t .ui-tabs-nav .ui-state-active { 
    border: none; 
} 
.ui-tabs.ui-j2t .ui-tabs-nav.ui-nav-top .ui-state-active 
{
    background: transparent url(images/uiTabsArrow_top.png) no-repeat bottom center; 
}
/*.csf-active-nav-top {
    background: transparent url(images/uiTabsArrow_top.png) no-repeat bottom center; 
}*/

.ui-tabs.ui-j2t .ui-tabs-nav .ui-state-default a { 
    color: #c0c0c0; 
} 
.ui-tabs.ui-j2t .ui-tabs-nav .ui-state-active a { 
    color: #26ae33; 
}
/*animate the nav tab activation with a transfer effect*/
.j2t-effects-transfer-top {
    margin-top: 1px;
    background: transparent url(images/uiTabsArrow_top.png) no-repeat bottom center; 
}

/*edit the bottom jquery navigation bar in the results tab.*/
.ui-tabs.ui-j2t .ui-nav-bottom.ui-widget-header {
    border: none; 
    border-top: 1px solid #c0c0c0; 
    padding-top: 0;
    padding-bottom: 0.2em;
} 
.ui-tabs.ui-j2t .ui-tabs-nav.ui-nav-bottom .ui-state-default { 
    margin-top: -1px;
    margin-bottom: 1px;
    padding-top: 1px;
    padding-bottom: 0;
} 
.ui-tabs.ui-j2t .ui-tabs-nav.ui-nav-bottom .ui-state-active { 
    background: transparent url(images/uiTabsArrow_bottom.png) no-repeat top center; 
} 
/*.csf-mov-nav-bottom,*/
.j2t-effects-transfer-bottom{
    margin-top: -1px;
    background: transparent url(images/uiTabsArrow_bottom.png) no-repeat top center; 
}